
/*#region COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
img{
    max-width: 100%;
}

.debug *{
    border: 1px dashed black
}


/*#endregion COMMON */

/*#region COLORS */

:root{
    --bol-orange-color:var(#ff9614);
    --bol-bg-color:var(#f6f5f3);
    --bol-violet-color:var(#7c69a4);
    --bol-lightgrey-color:var(#a0a09f);
    --bol-recipe_title-color:var(#4e3969);

}

/*#endregion COLORS */

/*#region UTILITY */
body{
    font-family: "Montserrat", system-ui;
}
.d_flex{
    display: flex;
}
.justify_center{
    justify-content: center;
}

#font_nerko{
    font-family: "Nerko One", system-ui;
}
.category{
    margin-top: 1rem;
    font-weight: 0.25rem;
    color: #a0a09f;
}
.title_recipe{
    color: #4e3969;
    padding-bottom: 1rem;
}

.icon{
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.row{
    background-color: white;
    box-shadow: 2px 2px 5px rgb(179, 178, 178);
}
.hidden{
    display: none;
}
.button {
               
    background-color: white;
    padding: 5px 10px;
    border-radius: 15px; 
    box-shadow: 2px 2px 6px lightgrey;
}

.hr{
    width: 20%;
    border: 2px solid #ff9614;
    margin-top: 0.5rem;
}

.presentation {
    margin-top: 1rem;
}

.tiramisù{
    margin-top: 1rem;
    padding: 0rem 4rem;
}
.description{
    line-height: 2rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
}
#app_footer{
       
    background-color: #7c69a4;
    color: white;
    font-size: 0.7rem;


}
.white{
    color: white;
}

/*#endregion UTILIY */

/*#region APP_HEADER */
.container{
    width: 90%;
    padding:0.25rem 0rem;
    margin: auto;
}

#app_header{
    background-color: white;

    #font_nerko{
        color: #ff9614;
        text-shadow: 1px 1px 2px gray;
    }
}
/*#endregion APP_HEADER */

/*#region APP_MAIN */
    #app_main{
        background-color: #f6f5f3;
    }
        
    .card_title{
            padding: 1rem 0rem 1rem ; 
    }


       
    .socials{
            padding: 1rem;
            display: flex;
            justify-content: space-between;
    }
       
    


    .details{
        padding: 1rem;
        
    }

/*#endregion APP_MAIN */

/*#region APP_FOOTER */
 
.footcontainer{
    padding: 1rem;
    line-height: 0.5rem;
   
}

.footer_tag{

        gap: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.leftfoot{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 1rem;
    
}
.padding_btm{

}
/*#endregion APP_FOOTER */



@media screen and (min-width:768px) {
  /*#region UTILITY */  
  .flex_st_sm{
    justify-content: flex-start;
  }


  /*#endregion UTILITY */  

  /*#region APP_HEADER */  

  /*#endregion APP_HEADER */  

  /*#region APP_MAIN */  
  .container_sm{
    width: 90%;
    padding: 0rem 0.5rem;
    max-width: 1200px;
  }
  .details_sm{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 2rem;
    gap: 1rem;
 }
 .socials_sm{
    padding: 2rem 0;
 }
 .button_sm {
               
    background-color: white;
    padding: 10px 40px;
    border-radius: 20px; 
    box-shadow: 2px 2px 6px lightgrey;
 }
 .show_sm{
    padding: 1rem 0rem;
    display: block;
 }
 .tiramisù_sm{
    float: left;
    padding: 0;
    width: 20rem;
    margin: 0;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    
    }


 
  /*#endregion APP_MAIN */  

  /*#region APP_FOOTER */  

  .footer_tag_sm{
    padding-top: 0.5rem;
  }

  .leftfoot_sm{
    padding: 0rem 7rem
  }
  .padding_btm_sm{
    padding-bottom: 0.5rem;
  }
  /*#endregion APP_FOOTER */  




}


@media screen and (min-width:992px) {
    /*#region UTILITY */  
    /*#endregion UTILITY */  
  
    /*#region APP_HEADER */  
    .container_md{
        width: 100%;
        padding: 1rem;
    }
    /*#endregion APP_HEADER */  
  
    /*#region APP_MAIN */  
    .details_md{
        padding-right: 3rem;
        flex-direction: column;
    }
     
    
    .row_md{
        display: flex;
        height: 20rem;

    }
    .col6_md{
        width: calc((100% / 12) *6);
    }

    .col8_md{
        width: calc((100% / 12) *8);
    }
    .col4_md{
        width: calc((100% / 12) *4);
    }
    .socials_md{
        padding: 2rem 0;
    }
    .button_md{
        
        vertical-align: middle;
        background-color: white;
        padding: 10px 20px;
        border-radius: 20px; 
        box-shadow: 2px 2px 6px lightgrey;
    }
    .button_text_md{
        color: black;
        display: inline;
        font-family: Arial, Helvetica, sans-serif;
        vertical-align: middle;

    }

    /*#endregion APP_MAIN */  
  


    /*#region APP_FOOTER */ 
  .footcontainer_md{
    display: flex;
  }
  
    .leftfoot_md{
    justify-content: flex-start;
    padding: 0;
    flex-wrap: wrap;
    gap:0
   }

   .padding_btm_md{
    padding-bottom: 0rem;
    
   }

   .footer_tag_md{
    display: flex;
    justify-content: flex-end;
   }


    /*#endregion APP_FOOTER */  
  
  
  
  
  }

@media screen and (min-width:576px){

    .col8_lg{
        height: 20rem;

    }

    .button_lg {
               
        background-color: white;
        padding: 7px 30px;
        border-radius: 20px; 
        box-shadow: 2px 2px 6px lightgrey;
    }

 .tiramisù_lg{
    float: left;
    padding: 0;
    width: 20rem;
    margin: 0;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    
    }

  }