
/*#region COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
img{
    max-width: 100%;
}

.debug *{
    border: 1px dashed black
}


/*#endregion COMMON */

/*#region COLORS */

:root{
    --bol-orange-color:var(#ff9614);
    --bol-bg-color:var(#f6f5f3);
    --bol-violet-color:var(#7c69a4);
    --bol-lightgrey-color:var(#a0a09f);
    --bol-recipe_title-color:var(#4e3969);

}

/*#endregion COLORS */

/*#region UTILITY */
body{
    font-family: "Montserrat", system-ui;
}
.d_flex{
    display: flex;
}
.justify_center{
    justify-content: center;
}

#font_nerko{
    font-family: "Nerko One", system-ui;
}
.category{
    margin-top: 1rem;
    font-weight: 0.25rem;
    color: #a0a09f;
}
.title_recipe{
    color: #4e3969;
    padding-bottom: 1rem;
}

.icon{
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.row{
    background-color: white;
    box-shadow: 2px 2px 5px rgb(179, 178, 178);
}

/*#endregion UTILIY */

/*#region APP_HEADER */
.container{
    width: 90%;
    padding:0.25rem 0rem;
    margin: auto;
}

#app_header{
    background-color: white;

    #font_nerko{
        color: #ff9614;
        text-shadow: 1px 1px 2px gray;
    }
}
/*#endregion APP_HEADER */

/*#region APP_MAIN */
    #app_main{
        background-color: #f6f5f3;

        .details{
            padding: 1rem 0rem;
            padding-left: 1rem;
            
        }
       


    }



/*#endregion APP_MAIN */

/*#region APP_FOOTER */



/*#endregion APP_FOOTER */



@media screen and (min-width:768px) {
  /*#region UTILITY */  
  .flex_st_sm{
    justify-content: flex-start;
  }


  /*#endregion UTILITY */  

  /*#region APP_HEADER */  
  .container_sm{
    width: 100%;
    padding: 0rem 0.5rem;
  }

  /*#endregion APP_HEADER */  

  /*#region APP_MAIN */  

  /*#endregion APP_MAIN */  

  /*#region APP_FOOTER */  

  /*#endregion APP_FOOTER */  




}


@media screen and (min-width:992px) {
    /*#region UTILITY */  
    /*#endregion UTILITY */  
  
    /*#region APP_HEADER */  
    /*#endregion APP_HEADER */  
  
    /*#region APP_MAIN */  
    /*#endregion APP_MAIN */  
  
    /*#region APP_FOOTER */  
    /*#endregion APP_FOOTER */  
  
  
  
  
  }